.hero {
  width: 90%;
  max-width: 1360px;
  margin-bottom: 24px;
}

.hero__bg {
  left: 0;
  right: 0;
  top: 0;
  border-radius: 17px 17px 0 0;
  border: 3px solid var(--border);
  height: 200px;
  border: 0;
}
.card-wrapper {
  background-color: white;
  box-shadow: 0px 29px 39px #dee2ec;
  border-radius: 18px;
}
.email-icon-wrapper {
  display: inline-block;
  border: 14px solid white;
  border-radius: 50%;
  transform: scale(0.75);
  transform-origin: center 0;
}
.email__icon {
  background-color: #fff;
  box-shadow: 0px 19px 49px #dee2ec;
  outline: 4px solid var(--border);
  border-radius: 50%;
}

@media (min-width: 992px) {
  .hero {
    margin-bottom: 96px;
    border-radius: 20px;
  }
  .hero__bg {
    height: 386px;
  }
  .email-icon-wrapper {
    transform: none;
  }
}
