.hero {
  border: 3px solid var(--border);
  border-radius: 20px 20px 0 0;
  width: 90%;
  max-width: 1360px;
  margin-bottom: 24px;
}

.hero__bg {
  left: -3px;
  right: -3px;
  top: -3px;
  border-radius: 16px 16px 0 0;
  border: 3px solid var(--border);
  height: 200px;
  border: 0;
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 16px 16px 0 0;
}

.title {
  font-size: 2rem;
  line-height: 1.15;
  color: white;
}

.stats__number {
  font-family: var(--font-family-roboto-slab);
  font-size: 1.5rem;
}
.note {
  background-image: url('../images/note-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  border-radius: 20px 20px 0 0;
}
.note::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../images/tick-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.25em;
  position: relative;
  top: 3px;
}
.signup-wrapper {
  box-shadow: 0px 42px 49px #e1e5ee;
  border-radius: 21px;
  background-color: white;
  overflow: hidden;
}

.signup-form {
  position: relative;
}
.signup-form::after {
  content: '';
  display: block;
  height: 210px;
  position: absolute;
  pointer-events: none;
  background: linear-gradient(180deg, #eaecf1 0%, rgba(234, 236, 241, 0) 61.28%);
  opacity: 0.44;
  top: 0;
  left: -48px;
  right: -48px;
  z-index: 0;
}
.signup-btn {
  max-width: 300px;
}
.btn-wrapper {
  position: relative;
}
.btn-wrapper::after {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  left: -48px;
  right: -48px;
  top: 0;
  pointer-events: none;
  background: linear-gradient(180deg, #eaecf1 0%, rgba(234, 236, 241, 0) 61.28%);
  opacity: 0.44;
  z-index: 0;
}

@media (min-width: 992px) {
  .hero {
    margin-bottom: 96px;
    border-radius: 20px;
  }
  .hero__bg {
    height: 386px;
  }
  .title {
    font-size: 3rem;
  }
  .stats__number {
    font-size: 3rem;
  }
  .signup-container {
    position: absolute;
    top: 0;
    right: 40px;
  }
  .signup-wrapper {
    max-width: 443px;
  }
}
@media (min-width: 1140px) {
  .title {
    font-size: 3.5rem;
  }
  .signup-container {
    right: unset;
  }
}
