.hero {
  width: 90%;
  max-width: 1360px;
  margin-bottom: 24px;
}

.hero__bg {
  left: 0;
  right: 0;
  top: 0;
  border-radius: 17px 17px 0 0;
  border: 3px solid var(--light);
  height: 200px;
  border: 0;
}
.card-wrapper {
  background-color: #fff;
  stroke-width: 1px;
  stroke: var(--light);
  box-shadow: 0px 19px 49px #dee2ec;
  border-radius: 18px;
  position: relative;
}
.prev__btn {
  position: absolute;
  left: 0;
  background-color: white;
  border-radius: 5px;
  border: 1px solid var(--light);
  background: #fff;
  box-shadow: 0px 19px 49px 0px #aebdd2;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close__btn {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  display: block;
}

.deploy-border {
  border-bottom: 4px solid var(--light);
}
.calendly-inline-widget {
  max-width: 100%;
  height: 510px;
}

@media (min-width: 992px) {
  .hero {
    border-radius: 20px;
  }
  .hero__bg {
    height: 386px;
  }
}
