.hero {
  width: 90%;
  max-width: 1360px;
  margin-bottom: 24px;
}

.hero__bg {
  left: 0;
  right: 0;
  top: 0;
  border-radius: 17px 17px 0 0;
  border: 3px solid var(--border);
  height: 200px;
  border: 0;
}
.card-wrapper {
  background-color: #fff;
  box-shadow: 0px 19px 49px #dee2ec;
  border-radius: 18px;
  position: relative;
}
.prev__btn {
  position: absolute;
  left: 0;
  background-color: white;
  border-radius: 5px;
  border: 1px solid var(--border);
  background: #fff;
  box-shadow: 0px 19px 49px 0px #aebdd2;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close__btn {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  display: block;
}
.opt__table {
  border-radius: 6px;
  border: 2px solid var(--border);
}
.opt__table .col:not(:last-child) {
  border-bottom: 2px solid var(--border);
}
.opt__table .col {
  border-width: 2px;
}
@media (min-width: 992px) {
  .hero {
    border-radius: 20px;
  }
  .hero__bg {
    height: 386px;
  }
  .opt__table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .opt__table .col {
    height: 100%;
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .opt__table .col:not(:last-child) {
    border-bottom-width: 0;
    border-right: 2px solid var(--border);
  }

  .opt-table__btn {
    border-top: 2px solid var(--border);
    width: 100%;
    text-align: center;
    padding-top: 24px;
  }
}
